<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString=""
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="FrontendUrl" value="http://localhost:5173" />
  </appSettings>
</configuration>
